@tailwind base;
@tailwind components;
@tailwind utilities;
#disabled {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

#disabled #hovertext {
    visibility: hidden;
    width: 300px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -60px;
}

#disabled:hover #hovertext {
    visibility: visible;
}